.card{
    position: relative;
    top: 73px;
    float: left;
    width: 268px;
    background-color: #22282b ;
    border-radius: 17px;
    margin-left: 70px;
    margin-top: 52px;
    border: 0;

    
    
  }

  .card-title{
    color: #F1F6F9;
    font-family: Barlow;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
  }
  .card-text{
    color: #9BA4B5;
    font-family: Barlow;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 20px;
    padding-bottom: 17px;
  }

  .btn {
    background-color: #A27B5C;
  }
  .btn:hover {
    background-color: #8B6445;
    color: black;
  }
  