.navbar{
    padding: 0px 7.3%;
    min-height: 96px;
    /* background-color: #DCD7C9; */
    background-color: #22282b;
    /* color: white; */
}
.navbar-brand img{
    height: 100px;
    width: auto;
}
.navbar-toggler-icon {
    background-color: #A27B5C;
}

/* @media (max-width: 991px) {
    .navbar-collapse {
        padding: 1rem 0;
    }
    .nav-item {
        padding: 0.5rem 18px;
    }
} */
.nav-item{
    padding: 0 18px;
    font-family: inter;    
}
.nav-link{
    color: #A27B5C;
}

.carousel-item{
    padding: 7% 15%;
}

/* Push content down when the menu is open
.navbar {
  transition: margin-bottom .3s ease;
}
.navbar:has(.collapse.show) {
  margin-bottom: 200px; /* tune this to your expanded height */
/* }  */