
.home-section-1{
  /* background-image: url(/public/images/image8.jpg); */
  width: 100%;
  height: 900px;
  flex-shrink: 0;
}
.home-section-1 img{
  width: 100%;
  height: 900px;
}
.home-section-1 p{
  display: flex;
  position: absolute;
  top: 650px;
  left: 7.3%;
  width: 671px;
  height: 282px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #DCD7C9;
  font-family: Nunito;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: rgba(44, 54, 57,0.25);
  padding: 5px;

  /* color: #FFEA11;
  font-family: Caveat;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; */
}



.home-section-2{
  /* background-color: #3F4E4F; */
  height: 900px;
}
.home-section-2 p{
  color: black;
  font-family: Barlow;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  
}
.home-section-2 div{
  position:relative;
  display: inline-block;
  top: 250px;
  left: 7.3%;
  width: 438px;
  margin: 0;
}
.home-section-2 img{
  position: relative;
  left: 30%;
  top: 200px;
}



.home-section-3{
  height: 600px;
  background-attachment: fixed;
  background-image: url(../public/images/image\ 4.png);
  background-size: cover;

}
/* .home-section-3-img{
  position:absolute;
  height: 909px;
  width: 100%;
  opacity: 0.8;
} */
.home-section-3-h1{
  color: #DCD7C9;
  font-family: Barlow;
  font-size: 80px;
  font-weight: 400;
  opacity: 1;
  background-color: rgba(44, 54, 57,0.45);

  position: relative;
  left: 7.3%;
  top: 77px;
  width: 514px;
  margin-bottom: 30px;
}


.home-section-4{
  /* position: static; */
  height: 773.91px;
  /* background-color: #DCD7C9; */
  text-align: center;
  
}
.home-section-4 p{
  /* color: #3F4E4F; */
  font-family: Ubuntu;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.carousel-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.home-section-4 em{
  color: black;
  font-family: Ubuntu;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}




.home-section-5{
  position: relative;
  background-color: #113946;
  /* height: 909px; */
}
.home-section-5 img{
  display: inline-block;
  
  width: 50%;
  /* height: 909px; */
}
.home-section-5 h1{
  color: #DCD7C9;
  font-family: Barlow;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* position: relative;
  display: inline-block; */
  left: 69px;
  bottom: 123px;
  width: 594px;
}
.home-section-5 p{
  color: #BCA37F;
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* position: relative;
  display: inline-block; */
  left: 792px;
  top: 81px;
  width: 594px;
  margin-top: 82px;
}
.home-section-5-content{
  width: 594px;
  display: inline-block;
  position: absolute;
  left: 55%;
  top: 123px;
}



.home-section-6{
  /* background-color: #3F4E4F; */
  height: 750px;
}
.home-section-6 h1{
  color: #3F4E4F;
  font-family: Barlow;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: relative;
  left: 7.3%;
  top: 85px;
  width: 400px;

}
.home-section-6 form{
  position: relative;
  left: 7.3%;
  top: 121px;
  /* color: white; */
  width: 83.36%;
}


footer{
  height: 200px;
  background-color: #A27B5C;
  text-align: center;
  padding: 3% 15%;
}
.social-icon{
  height: 100px;
  width: 100px;
}